body{
  font-family: 'Permanent Marker', cursive;
  padding: 2em;
  font-size: 180%;
  text-align: center;

}

@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,greek-ext,greek,vietnamese,latin-ext,cyrillic,cyrillic-ext);


#go{
font-family: 'Permanent Marker', cursive;
}

input{
  width: 50%;
  font-size: 100%;
    padding: 18px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #f4511e;
    border-radius: 4px;
      font-family: 'Permanent Marker', cursive;
}
.button {

  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
margin-top: -3px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
#greeting22{
  font-size: 300%;
}
